@font-face {
  font-family: "Noto-Sans-Regular";
  font-weight: 300;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
}

@font-face {
  font-family: "Noto-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
}

@font-face {
  font-family: "Noto-Sans-semiBold";
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
}

@font-face {
  font-family: "Noto-Sans-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
}